<div class="top-bar">
  <div class="user-info" (click)="goToPerfil()" style="cursor: pointer">
    <div class="user-avatar">
      <img *ngIf="usuario?.fotoPerfilUrl" [src]="usuario!.fotoPerfilUrl" alt="Foto de perfil" />
    </div>
    <ng-template #defaultAvatar>
      <i class="fa fa-user-circle user-icon"></i>
    </ng-template>
    <span class="username">{{ usuario?.nombre || username }}</span>
  </div>

  <div class="nav-buttons">
    <button class="nav-btn" (click)="goToCanciones()">
      <i class="fa fa-music"></i> Menú Principal
    </button>
  </div>

  <div class="logout-btn-container">
    <button class="logout-btn" (click)="cerrarSesion()">
      <i class="fa fa-sign-out-alt"></i>
    </button>
  </div>
</div>
