/* CONTENEDOR PRINCIPAL*/
.lista-usuarios-container {
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  justify-content: flex-start;
}

/* LISTA SCROLLEABLE*/
.lista {
  width: 450px;
  max-width: 100%;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 12px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* CABECERA*/
.tabla-cabecera {
  display: flex;
  font-weight: bold;
  padding: 12px 10px;
  border-bottom: 2px solid #ccc;
  background-color: #087f32;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 6px 6px 0 0;
}

.col {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 6px;
}

/* FILAS*/
.usuario-item {
  display: flex;
  align-items: center;
  padding: 10px 6px;
  font-size: 14px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  transition: background-color 0.25s, box-shadow 0.25s;
}

.usuario-item:hover {
  background-color: #e6f2e6;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.05);
}

.col.username {
  flex: 1.2;
}

.col.nombre {
  flex: 1.8;
}
